In [1]:
import pandas as pd

In [2]:
n1=pd.read_csv("DataNetflixRevenue2020_V2.csv")

In [3]:
n2=pd.read_csv("DataNetflixSubscriber2020_V2.csv")

In [4]:
n1

                               Area      Years     Revenue
0          United States and Canada  Q1 - 2018  1976157000
1   Europe,  Middle East and Africa  Q1 - 2018   886649000
2                     Latin America  Q1 - 2018   540182000
3                      Asia-Pacific  Q1 - 2018   199117000
4          United States and Canada  Q2 - 2018  2049546000
5   Europe,  Middle East and Africa  Q2 - 2018   975497000
6                     Latin America  Q2 - 2018   568071000
7                      Asia-Pacific  Q2 - 2018   221252000
8          United States and Canada  Q3 - 2018  2094850000
9   Europe,  Middle East and Africa  Q3 - 2018  1004749000
10                    Latin America  Q3 - 2018   562307000
11                     Asia-Pacific  Q3 - 2018   248691000
12         United States and Canada  Q4 - 2018  2160979000
13  Europe,  Middle East and Africa  Q4 - 2018  1096812000
14                    Latin America  Q4 - 2018   567137000
15                     Asia-Pacific  Q4 - 2018   276756000
16         United States and Canada  Q1 - 2019  2256851000
17  Europe,  Middle East and Africa  Q1 - 2019  1233379000
18                    Latin America  Q1 - 2019   630472000
19                     Asia-Pacific  Q1 - 2019   319602000
20         United States and Canada  Q2 - 2019  2501199000
21  Europe,  Middle East and Africa  Q2 - 2019  1319087000
22                    Latin America  Q2 - 2019   677136000
23                     Asia-Pacific  Q2 - 2019   349494000
24         United States and Canada  Q3 - 2019  2621250000
25  Europe,  Middle East and Africa  Q3 - 2019  1428040000
26                    Latin America  Q3 - 2019   741434000
27                     Asia-Pacific  Q3 - 2019   382304000
28         United States and Canada  Q4 - 2019  2671908000
29  Europe,  Middle East and Africa  Q4 - 2019  1562561000
30                    Latin America  Q4 - 2019   746392000
31                     Asia-Pacific  Q4 - 2019   418121000
32         United States and Canada  Q1 - 2020  2702776000
33  Europe,  Middle East and Africa  Q1 - 2020  1723474000
34                    Latin America  Q1 - 2020   793453000
35                     Asia-Pacific  Q1 - 2020   483660000
36         United States and Canada  Q2 - 2020  2839670000
37  Europe,  Middle East and Africa  Q2 - 2020  1892537000
38                    Latin America  Q2 - 2020   785368000
39                     Asia-Pacific  Q2 - 2020   569140000

In [6]:
n2

                               Area      Years  Subscribers
0          United States and Canada  Q1 - 2018     60909000
1   Europe,  Middle East and Africa  Q1 - 2018     29339000
2                     Latin America  Q1 - 2018     21260000
3                      Asia-Pacific  Q1 - 2018      7394000
4          United States and Canada  Q2 - 2018     61870000
5   Europe,  Middle East and Africa  Q2 - 2018     31317000
6                     Latin America  Q2 - 2018     22795000
7                      Asia-Pacific  Q2 - 2018      8372000
8          United States and Canada  Q3 - 2018     63010000
9   Europe,  Middle East and Africa  Q3 - 2018     33836000
10                    Latin America  Q3 - 2018     24115000
11                     Asia-Pacific  Q3 - 2018      9461000
12         United States and Canada  Q4 - 2018     64757000
13  Europe,  Middle East and Africa  Q4 - 2018     37818000
14                    Latin America  Q4 - 2018     26077000
15                     Asia-Pacific  Q4 - 2018     10607000
16         United States and Canada  Q1 - 2019     66633000
17  Europe,  Middle East and Africa  Q1 - 2019     42542000
18                    Latin America  Q1 - 2019     27547000
19                     Asia-Pacific  Q1 - 2019     12141000
20         United States and Canada  Q2 - 2019     66501000
21  Europe,  Middle East and Africa  Q2 - 2019     44229000
22                    Latin America  Q2 - 2019     27890000
23                     Asia-Pacific  Q2 - 2019     12942000
24         United States and Canada  Q3 - 2019     67114000
25  Europe,  Middle East and Africa  Q3 - 2019     47355000
26                    Latin America  Q3 - 2019     29380000
27                     Asia-Pacific  Q3 - 2019     14485000
28         United States and Canada  Q4 - 2019     67662000
29  Europe,  Middle East and Africa  Q4 - 2019     51778000
30                    Latin America  Q4 - 2019     31417000
31                     Asia-Pacific  Q4 - 2019     16233000
32         United States and Canada  Q1 - 2020     69969000
33  Europe,  Middle East and Africa  Q1 - 2020     58734000
34                    Latin America  Q1 - 2020     34318000
35                     Asia-Pacific  Q1 - 2020     19835000
36         United States and Canada  Q2 - 2020     72904000
37  Europe,  Middle East and Africa  Q2 - 2020     61483000
38                    Latin America  Q2 - 2020     36068000
39                     Asia-Pacific  Q2 - 2020     22492000

In [7]:
n3=pd.merge(n1,n2,on="Area")

In [8]:
n3

                         Area    Years_x     Revenue    Years_y  Subscribers
0    United States and Canada  Q1 - 2018  1976157000  Q1 - 2018     60909000
1    United States and Canada  Q1 - 2018  1976157000  Q2 - 2018     61870000
2    United States and Canada  Q1 - 2018  1976157000  Q3 - 2018     63010000
3    United States and Canada  Q1 - 2018  1976157000  Q4 - 2018     64757000
4    United States and Canada  Q1 - 2018  1976157000  Q1 - 2019     66633000
..                        ...        ...         ...        ...          ...
395              Asia-Pacific  Q2 - 2020   569140000  Q2 - 2019     12942000
396              Asia-Pacific  Q2 - 2020   569140000  Q3 - 2019     14485000
397              Asia-Pacific  Q2 - 2020   569140000  Q4 - 2019     16233000
398              Asia-Pacific  Q2 - 2020   569140000  Q1 - 2020     19835000
399              Asia-Pacific  Q2 - 2020   569140000  Q2 - 2020     22492000

[400 rows x 5 columns]

In [9]:
n3.Subscribers.count()

400

In [10]:
n3.Subscribers.unique()

array([60909000, 61870000, 63010000, 64757000, 66633000, 66501000,
       67114000, 67662000, 69969000, 72904000, 29339000, 31317000,
       33836000, 37818000, 42542000, 44229000, 47355000, 51778000,
       58734000, 61483000, 21260000, 22795000, 24115000, 26077000,
       27547000, 27890000, 29380000, 31417000, 34318000, 36068000,
        7394000,  8372000,  9461000, 10607000, 12141000, 12942000,
       14485000, 16233000, 19835000, 22492000], dtype=int64)

In [11]:
n3_subscribers=n3.groupby("Area")["Subscribers"].count()

In [12]:
print(n3_subscribers)

Area
Asia-Pacific                       100
Europe,  Middle East and Africa    100
Latin America                      100
United States and Canada           100
Name: Subscribers, dtype: int64

In [13]:
n3.Revenue.sum()

470780600000

In [14]:
n3_rev=n3.groupby("Subscribers")["Revenue"].sum()

In [15]:
print(n3_rev)

Subscribers
7394000      3468137000
8372000      3468137000
9461000      3468137000
10607000     3468137000
12141000     3468137000
12942000     3468137000
14485000     3468137000
16233000     3468137000
19835000     3468137000
21260000     6611952000
22492000     3468137000
22795000     6611952000
24115000     6611952000
26077000     6611952000
27547000     6611952000
27890000     6611952000
29339000    13122785000
29380000     6611952000
31317000    13122785000
31417000     6611952000
33836000    13122785000
34318000     6611952000
36068000     6611952000
37818000    13122785000
42542000    13122785000
44229000    13122785000
47355000    13122785000
51778000    13122785000
58734000    13122785000
60909000    23875186000
61483000    13122785000
61870000    23875186000
63010000    23875186000
64757000    23875186000
66501000    23875186000
66633000    23875186000
67114000    23875186000
67662000    23875186000
69969000    23875186000
72904000    23875186000
Name: Revenue, dtype: int64

In [16]:
n3_revenue=n3.groupby("Area")["Revenue"].sum()

In [17]:
print(n3_revenue)

Area
Asia-Pacific                        34681370000
Europe,  Middle East and Africa    131227850000
Latin America                       66119520000
United States and Canada           238751860000
Name: Revenue, dtype: int64

In [18]:
n3.Years_x.unique()

array(['Q1 - 2018', 'Q2 - 2018', 'Q3 - 2018', 'Q4 - 2018', 'Q1 - 2019',
       'Q2 - 2019', 'Q3 - 2019', 'Q4 - 2019', 'Q1 - 2020', 'Q2 - 2020'],
      dtype=object)

In [19]:
n3.Years_y.unique()

array(['Q1 - 2018', 'Q2 - 2018', 'Q3 - 2018', 'Q4 - 2018', 'Q1 - 2019',
       'Q2 - 2019', 'Q3 - 2019', 'Q4 - 2019', 'Q1 - 2020', 'Q2 - 2020'],
      dtype=object)

In [23]:
n4=n3.groupby("Years_x")["Revenue"].sum()

In [24]:
n4

Years_x
Q1 - 2018    36021050000
Q1 - 2019    44403040000
Q1 - 2020    57033630000
Q2 - 2018    38143660000
Q2 - 2019    48469160000
Q2 - 2020    60867150000
Q3 - 2018    39105970000
Q3 - 2019    51730280000
Q4 - 2018    41016840000
Q4 - 2019    53989820000
Name: Revenue, dtype: int64

In [28]:
avg_rev_per_sub =(n3["Revenue"].sum()) / (n3["Subscribers"].count())

In [29]:
print(avg_rev_per_sub)

1176951500.0